/* NB. Shorthand values are applied in a clockwise order; top, right, bottom, left */
/* Top-level settings  */
* { margin: 0; 
    padding: 0; 
    border: 0; 
    }
body,
html{ background:#0AAAFF; }
body{ font-size: small;
      font-family: Verdana,Arial,Helvetica,sans-serif;
      min-width: 47em;
      text-align: center;
      }
h1{ color: #0EA0CA;
    /* text-align: center; */
    font-size: 1.25em;
    }
h2{ color: #AF0407;
    text-align: center;
    font-size: 1.13em;
    }
h3{ color: #0EA0CA;
    text-align: center;
    font-size: 0.88em;
    }
p{ margin: 0 0 1em 0.5em; }
a { background:transparent none repeat scroll 0 0;
    border-bottom:1px dotted;
    border-color: #f00;
    text-decoration:none;
    }
button { font-size: small; }
a:link, a { color: #fff;
            text-decoration: none;
            border-bottom: 1px dotted #960;}
a:visited { color:#f00; }
a:hover { color: #f00;
          border-bottom: 1px solid #f00; }
/* Classes */
.floatRight { float: right; }
.floatLeft { float: left; }
.title { color: darkblue; }
.error { color: red; }
/* Wraper over the content */
div#container{ color: #fff;
               margin-left: auto;
               margin-right: auto;
               }
/* Styling for the header */
div#header{ background-color: #123456;
            border-bottom: ridge;
            font-family: Georgia,serif;
            background-image: url("/images/lotus.jpg");
            background-repeat: no-repeat;
            background-position: right;
            height: 200px;
            }
div#header h1{ font-size: 1.75em;
               text-align: left;
               padding: 1em;
               margin: 0 0 0 5%;
               /* opacity: 0.5; */
               }
div#header h2{ font-size: 1.5em;
               text-align:left;
               margin: 0 0 2em 15%;
               color: #8800FF;
               }
/* Styling for the status information */
div#status button { text-align: center;
                    height: 1.5em;
                    width: 5em; }
/* Styling for the main body */ 
div#main{ width: 82.5%;
          border-color: #0056ad;
          border-left: 1px dashed;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
          padding: 1%;
          }
div#main input{ display: inline; }
/* Styling for creating a nav */
#nav { clear: both;
      width: 15%;
      background-color: #003355;
      color: #00BBBB;
      margin-right: 0.5em;
      }
#nav h3{ border-bottom: 1px dashed; }
#nav ul{ margin: 0em;
         padding: 0em;
         font-size: 0.8em;
         color: #FFF;
         line-height: 2.5em;
         white-space: nowrap;
         background-color: #10A2E1;
         margin-bottom: 1em;
         }
#nav li{ list-style-type: none;
         }
#nav a{ text-decoration: none;
        padding: 0.44em 1.19em;
        color: #00F;
        border-bottom: none;
        display: block;
        height: 1.5em;
           }
#nav li a:link { color: #fff; }
#nav li a:visited { color: #fff; }
#nav li a:hover{ /* font-weight: bold; */
                    color: #FFF;
                    background-color: #3366FF;
                       }
/* Styling for the footer */
div#footer{ font-size: 0.63em;
            clear: both;
            text-align: center;
            background-color: #003355;
            padding: 0.25em;
            }
/* Miscellaneous styling */
div#logo{ background-image: url("../images/logo.png");
          background-repeat: no-repeat;
          width: 4.5em;
          height: 4.5em;
          margin: 1.5em;
          }
/* Media styles */
@media print{
  div#nav{ display: none; }
}